include LICENSE README.txt CHANGES.txt PKG-INFO MANIFEST.in setup.cfg dependencies.py
include scripts/py2/wix.py scripts/py3/wix.py scripts/win32/wix.py.exe scripts/win64/wix.py.exe
include utils/*.py